@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'The Signature';
  src: url('/fonts/Thesignature.ttf') format('truetype');
}


@font-face {
  font-family: 'Bodoni Moda';
  src: url('/fonts/BodoniModa.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Haas';
  src: url('/fonts/NeueHaas.ttf') format('truetype');
}




body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  overflow-x: hidden;
}

main {
  &:not(:has(div.homepage)) {
    margin-top: 6.75rem;
  }

  /* &:not(:has(div.no-pb)) {
    padding-bottom: 4rem;
  } */
}

footer {
  align-self: end;
}


/* 404 Page */
main {

  & h1.next-error-h1,
  &>div>div>div>h2 {
    @apply text-primaryFont;
  }
}


/* Utilities */

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.old-price::after {
  content: '';
  position: absolute;
  top: 4px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: red;
  transform: rotate(-15deg);
  transform-origin: top right;
}

@layer utilities {

  input::selection.input-selection-primaryFont {
    @apply bg-primaryFont text-white;
  }

  input::selection.input-selection-black {
    @apply bg-black text-white;
  }

  textarea::selection.input-selection-primaryFont {
    @apply bg-primaryFont text-white;
  }

  textarea::selection.input-selection-black {
    @apply bg-black text-white;
  }

  .text-balance {
    text-wrap: balance;
  }


  .bullet-all {
    list-style: none;
    padding: 0;
    margin: 0;

    &>* {
      display: flex;
      align-items: flex-start;
    }

    &>*::before {
      content: "•";
      margin-right: 10px;
      font-size: 16px;
      line-height: 1;
    }
  }

  .overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay-black-10::after {
    @apply overlay opacity-10 bg-black;
  }

  .overlay-black-20::after {
    @apply overlay opacity-20 bg-black;
  }

  .overlay-black-30::after {
    @apply overlay opacity-30 bg-black;
  }

  .overlay-black-40::after {
    @apply overlay opacity-40 bg-black;
  }

  .overlay-black-50::after {
    @apply overlay opacity-50 bg-black;
  }

  .loginModel {
    width: 25%;
  }

  .thankyouModel {
    width: 70%;
    height: 100%;
    overflow: scroll;
  }

  .alice-carousel-wrapper{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px !important;
  }

  .alice-carousel__dots{
    margin: 0px 3px 5px !important;
  }

  @media (max-width:1200px) {
    .loginModel {
      width: 35%;
    }

    .thankyouModel {
      width: 80%;
    }
  }

  @media (max-width:920px) {
    .loginModel {
      width: 45%;
    }
  }

  @media (max-width:768px) {
    .loginModel {
      width: 50%;
    }

    .thankyouModel {
      width: 100%;
    }

    .catSecHome {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }

  @media (max-width:480px) {
    .loginModel {
      width: 90%;
    }

    .thankyouModel {}
  }
}

.globalSelect {
  width: 100%;
  padding: 7px 9px;
  background: white;
  border-radius: 20px;
}

.catSecHome {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.salestabselect {
  display: none;
}

@media (max-width:820px) {
  .salestablist {
    display: none;
  }

  .salestabselect {
    display: flex;
  }
}

/*Abhi legend css */
/*Home*/
@media (max-width:660px) {
  #hero .carousel {
    width: 100% !important;
  }

  .catSecHome {
    grid-template-columns: 1fr 1fr !important;
    gap: 16px 10px !important;
  }

  footer .newsLetter {
    margin-bottom: 50px;
  }

  .arrowDiv {
    margin-bottom: 10px;
  }

  .saleCategories {
    gap: 14px;
  }

  .benefitDiv {
    width: 80%;
  }

  /* .twoImageDivs{
    display: flex;
    flex-direction: column;
  } */
}

@media (max-width:1224px) {
  .arrowDiv {
    margin-bottom: 10px;
  }
}

@media (max-width:500px) {
  .saleCategories {
    gap: 10px;
    justify-content: flex-start;
  }

  .saleSLider {
    margin: 0px 18px;
    width: 100%;
  }

  .scrollbar-width {
    scrollbar-width: none;
  }

  .footerForMob {
    grid-template-columns: auto !important;
  }

}

@media only screen and (min-width:500px) and (max-width:992px) {
  footer .newsLetter {
    margin-bottom: 50px;
  }
}

@media (max-width:1024px) {
  footer .newsLetter {
    margin-bottom: 50px;
  }

  .catSecHome {
    gap: 20px;
  }

  .heightAuto {
    max-height: 440px;
  }

  .testimonialsDiv {
    max-width: unset !important;

  }

  .testimonialHEading {
    text-align: center;
  }
}

.saleCategories {
  justify-content: center;
}

@media only screen and (min-width:1024px) and (max-width:1200px) {
  .beautifulCard {
    flex-direction: column;
  }
}

@media (max-width:992px) {
  .threeDivs {
    flex-direction: column-reverse;
  }

  /* .twoImageDivs{
    flex-direction: row;
  } */
  .threeDivs div {
    width: 100% !important;
  }
}